{% extends "layout.html" %}

{% block body %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="credentials">
    <h3 class="header">Welcome! You are now logged in.</h3>
</div>
</div>
{% endblock %}